<section class="contact">
  <div class="container">
    <h2 class="section-title">Entre em Contato</h2>
    <div class="contact-content">
      <div class="contact-info">
        <p>Estou disponível para novas oportunidades. Entre em contato comigo através de:</p>
        <ul>
          <li>
            <i class="fas fa-envelope">
              <a href="mailto:gorguetmoura@gmail.com">gorguetmoura&#64;gmail.com</a>
            </i>
          </li>
          <li>
            <i class="fab fa-whatsapp">
              <a href="https://wa.me/5541995301077" target="_blank">WhatsApp</a>
            </i>
          </li>
          <li>
            <i class="fab fa-linkedin">
              <a href="https://www.linkedin.com/in/julien-gorguet-472719240" target="_blank">LinkedIn</a>
            </i>
          </li>
          <li>
            <i class="fab fa-github">
              <a href="https://github.com/julienvinicius" target="_blank">GitHub</a>
            </i>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>