/* Estilos para o formulário */
.contact form {
    max-width: 400px;
    margin: 0 auto;
  }
  
  .contact form .form-group {
    margin-bottom: 15px;
  }
  
  .contact form label {
    display: block;
    margin-bottom: 5px;
  }
  
  .contact form input, .contact form textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
  }
  
  .contact form button {
    padding: 10px 20px;
  }
  