<section class="contact">
    <div class="container">
      <h2>Contato</h2>
      <p>
        Você pode entrar em contato comigo através do formulário abaixo ou pelos seguintes meios:
      </p>
      <ul>
        <li>Email: gorguetmoura@gmail.com</li>
        <li>Telefone: (41) 99530-1077</li>
      </ul>
  
      <h3>Envie-me uma mensagem</h3>
        <form>
        <div class="form-group">
            <label for="name">Nome:</label>
            <input type="text" class="form-control" id="name" placeholder="Seu nome">
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" placeholder="Seu email">
        </div>
        <div class="form-group">
            <label for="message">Mensagem:</label>
            <textarea class="form-control" id="message" rows="5" placeholder="Sua mensagem"></textarea>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Enviar</button>
        </form>

    </div>
  </section>
  