<section class="about">
  <div class="container">
    <div class="about-content">
      <div class="about-header">
        <h2>Julien Gorguet</h2>
      </div>
      <div class="about-main">
        <div class="about-image">
          <img src="../../assets/Img/julienPicture.jpeg" alt="Minha foto">
        </div>
        <div class="about-text">
          <h1>Desenvolvedor Front-End</h1>
          <p>
            Desenvolvedor Front-End com mais de 2 anos de experiência na área. Sou um profissional que gosta de desafios e está sempre em busca de novos conhecimentos.
          </p>
          <div class="about-buttons">
            <a href="../../assets/Img/curriculo.pdf" download class="btn btn-cv">Currículo</a>
            <a href="https://www.linkedin.com/in/julien-gorguet-472719240" target="_blank" class="btn btn-linkedin">LinkedIn</a>
            <a href="https://github.com/julienvinicius" target="_blank" class="btn btn-github">GitHub</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<hr class="divider">

<section class="projects">
  <div class="container">
    <h2 style="color: black;">Meus Projetos</h2>

    <br><br>
    
    <div class="project project-right">
      <div class="project-image">
        <img src="../../assets/Img/Swagger.png" alt="Projeto 1">
      </div>
      <div class="project-info">
        <h3 style="color: black;">Api-Gateway</h3>
        <p style="color: black;">Api simplificada para gerenciamento de usuarios, afim de agilizar o Desenvolvimento de novos Projetos</p>
        <div class="project-tech">
          <span class="javascript">JavaScript</span>
          <span style="color: white; background-color: black;">Swagger</span>
          <span class="node">Node.js</span>
        </div>
      </div>
    </div>

    <br><br>

    <div class="project project-left">
      <div class="project-image">
        <img src="../../assets/Img/Itrip.png" alt="Projeto 2">
      </div>
      <div class="project-info">
        <h3 style="color: black;">Itrip</h3>
        <p style="color: black;">Sitema de agendamento de viagens com integração de pagamento e gerenciamento de reservas </p>
        <div class="project-tech">
          <span class="react">React</span>
          <span class="node">Node.js</span>
          <span class="mysql">MySQL</span>
          <span class="typescript">TypeScript</span>
          <span class="skill-badge lucid-orm">Lucid ORM</span>
        </div>
      </div>
    </div>

    <br><br>

    <div class="project project-right">
      <div class="project-image">
        <img src="../../assets/Img/Game.png" alt="Projeto 3">
      </div>
      <div class="project-info">
        <h3 style="color: black;">Mario Jump</h3>
        <p style="color: black;">Jogo desenvolvido em JavaScript puro, com a temática de Mario Jump</p>
        <div class="project-tech">
          <span class="javascript">JavaScript</span>
          <span class="html">HTML</span>
          <span class="css">CSS</span>
        </div>
      </div>
    </div>

  </div>
</section>

<hr class="divider">

<section class="experience">
  <div class="container">
    <h2>Experiência Profissional</h2>

    <div class="job job-right">
      <div class="job-image">
        <img src="../../assets/Img/Madero.png" alt="Logo Empresa 1">
      </div>
      <div class="job-info">
        <h3>Grupo Madero</h3>
        <p class="job-title">Cargo: Desenvolvedor Front-End</p>
        <p class="job-period">Período: 01/05/2022 - 01/05/2024</p>
        <p>Desenvolvimento de novas funcionalidades para o sistema da empresa, utilizando as tecnologias: JavaScript, React, Node.js, C#, TypeScript, Tailwind e Firebase</p>
          <span class="skill-badge javascript">JavaScript</span>
          <span class="skill-badge react">React</span>
          <span class="skill-badge angular">Angular</span>
          <span class="skill-badge typescript">TypeScript</span>
          <span class="skill-badge nodejs">Node.js</span>
          <span class="skill-badge react">React</span>
          <span class="skill-badge typescript">TypeScript</span>
          <span class="skill-badge csharp">C#</span>
          
      </div>
    </div>

    <br><br>

    <div class="job job-left">
      <div class="job-image">
        <img src="../../assets/Img/CekSoftware.png" alt="Logo Empresa 2">
      </div>
      <div class="job-info">
        <h3>Cek Software</h3>
        <p class="job-title">Cargo</p>
        <p class="job-period">Período: 01/06/2024 - 01/10/2024</p>
        <p> Desenvolvimento de novas Ferramentas para os sitemas de outras empresas, utilizando as tecnologias: JavaScript, Angular, Node.js, C#, TypeScript, Tailwind e PHP, MySQL, Docker e Git</p>
        <div class="job-tech">
          <span class="skill-badge angular">Angular</span>
          <span class="skill-badge typescript">TypeScript</span>
          <span class="skill-badge mysql">MySQL</span>
          <span class="skill-badge php">PHP</span>
          <span class="skill-badge docker">Docker</span>
          <span class="skill-badge javascript">JavaScript</span>
          <span class="skill-badge nodejs">Node.js</span>
          <span class="skill-badge csharp">C#</span>
          <span class="skill-badge tailwind">Tailwind</span>
        </div>
      </div>
    </div>
  </div>
</section>
