.about-buttons {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}
.btn-cv {
  background-color: black;
  color: white;
}
.btn-linkedin {
  background-color: black;
  color: white;
}
.btn-github {
  background-color: black;
  color: white;
}


.btn-cv:hover {
  background-color: #4CAF50; /* Verde para o CV */
}

.btn-linkedin:hover {
  background-color: #0077B5; /* Azul do LinkedIn */
}

.btn-github:hover {
  background-color: #6e5494; /* Roxo escuro do GitHub */
}